body {
    background-color:AliceBlue;
    }
     
    #console {
    text-align:center;
    height:100x;
    width:100x;
    background-color: Azure;
    font-family: "Courier New", Courier, monospace;
    }
     